/*.smg
TFPG/*.smg

/build

res.txt
libgen/symdef.txt
obj/Register.txt
obj/functions.sym
TFPG/functions.sym


TFPG/build/*.fpa
TFPG/obj/*.o
TFPG/obj/*.obj
TFPG/defines.h
TFPG/equs.inc
TFPG/make.cmd
TFPG/scatter.lnk
TFPG/tables.inc
